<!--Content Section-->
<div id="services" class="scrollto clearfix">

  <div class="row no-padding-bottom clearfix">


    <!-- Content Left Side-->
    <div class="col-3">
      <div class="col-3">

        <div class="section-heading">

          <h3 class="section-title">Customer</h3>
          <p>
            {{customer.name}}
          </p>

          <h3 class="section-title">DOB</h3>
          <p>
            {{customer.dob}}
          </p>

          <h3 class="section-title">Address</h3>
          <p>
            {{customer.address.street}}
            <br> {{customer.address.city}}
            <br> {{customer.address.state}}
          </p>

        </div>

      </div>
      <!--User Testimonial-->
      <blockquote class="testimonial text-center bigtest">

      </blockquote>
      <!-- End of Testimonial-->

    </div>
    <!--End Content Left Side -->

    <!--Content of the Right Side-->
    <div class="col-3">
      <div class="section-heading">
        <h3>Booked events</h3>
        <!-- <h2 class="section-title">{{venue.name}}</h2>
        <p class="section-subtitle">{{venue.location}}</p>
        <p class="section-subtitle">{{venue.contact}}</p> -->

        <div *ngFor="let b of booking">
          <!-- Event Name: {{b.eventname}}-->
          <h3>{{b._id}}</h3>
          Event Id: {{b.eventid}}
          <br>Number of Tickets: {{b.nooftickets}}
          <br>Date: {{b.timestamp}}
          <br>
          <button (click)="cancelBooking(b)">
            Cancel
          </button>
        </div>
      </div>

      <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->

    </div>
    <!--End Content Right Side-->

    <div class="col-3">
      <img src="../assets/images/dancer.jpg" alt="Dancer" />
    </div>

  </div>


</div>
